{%include file='admin/share/_header.html'%}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{%site_url('admin/user/admin_center')%}">管理员中心</a></li>
        <li><a href="{%site_url('admin/user/users_list')%}">用户列表</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <a class="list" href="{%site_url('client/user/sign_out')%}">退 出</a>
      <p class="list">{%$name%}</p>
    </div>
  </div>
</nav>
<br>
<br>
<br>
<h1>Welcome!!</h1>
<div id="message">{%error_message($message)%}</div>
{%include file='admin/share/_footer.html'%}