{%include file='admin/share/_header.html'%}

    <table border="1" class="table table-hover">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Password</td>
            <td>Email</td>
            <td>CreateTime</td>
        </tr>
        {%foreach from=$result item=item%}
        <tr>
            <td>{%$item.id%}</td>
            <td>{%$item.name%}</td>
            <td>{%$item.password%}</td>
            <td>{%$item.email%}</td>
            <td>{%$item.createtime%}</td>
        </tr>
        {%/foreach%}
    </table>
{%if isset($message) &&$message eq "error_sign_out"%}
    <div id="message">请先退出</div>
    {%elseif isset($message) &&$message eq "error_sign_in"%}
    <div id="message">请先登陆</div>
    {%else $message==""%}
    <div id="message"></div> 
{%/if%}
    <a class="btn btn-primary" role="button" href="{%base_url('client/user/sign_out')%}">退 出</a>
{%include file='admin/share/_footer.html'%}