{%include file='admin/share/_header.html'%}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{%site_url('admin/user/admin_center')%}">管理员中心</a></li>
        <li class="active"><a href="{%site_url('admin/user/users_list')%}">用户列表</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <p class="list"><a href="{%site_url('client/user/sign_out')%}">退 出</a>欢迎用户{%$name%}</p>
    </div>
  </div>
</nav>
<br>
<br>
<br>
<div>
    {%form_open_multipart('admin/user/users_list','id="search"')%}
        姓名搜索<input type="text" name='name' value="{%implode(array_column($result, 'name'))%}"></input>
        邮箱搜索<input type="text" name='email' value="{%implode(array_column($result, 'email'))%}"></input>
        <input type="submit" value="搜索" class="btn btn-primary"/>
    {%form_close()%}
    <table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>CreateTime</th>
    </tr>
    {%foreach from=$result['result'] item=item%}
    <tr>
        <td>{%$item.id%}</td>
        <td>{%$item.name%}</td>
        <td>{%$item.email%}</td>
        <td>{%$item.createtime%}</td>
    </tr>
    {%/foreach%}
    </table>
    {%if $result['page_all_num'] >= 2%}
    <div>
        <a {%if empty($result['select_data'])%}href='{%site_url('admin/user/users_list')%}'{%else%}href='{%site_url('admin/user/users_list')%}?selectdata={%serialize($result['select_data'])%}'{%/if%}>首页</a> |
        <a {%if empty($result['select_data'])%}href='{%site_url('admin/user/users_list')%}?page={%$result['pre_page']%}'{%else%}href='{%site_url('admin/user/users_list')%}?page={%$result['pre_page']%}& selectdata={%serialize($result['select_data'])%}'{%/if%}>上一页 </a>| 
        <a {%if empty($result['select_data'])%}href='{%site_url('admin/user/users_list')%}?page={%$result['next_page']%}'{%else%}href='{%site_url('admin/user/users_list')%}?page={%$result['next_page']%}&selectdata={%serialize($result['select_data'])%}'{%/if%}>下一页 </a>|
        <a {%if empty($result['select_data'])%}href='{%site_url('admin/user/users_list')%}?page={%$result['page_all_num']%}'{%else%}href='{%site_url('admin/user/users_list')%}?page={%$result['page_all_num']%}&selectdata={%serialize($result['select_data'])%}'{%/if%}>尾页</a>|
        共{%$result['page_all_num']%}页
    </div>
    {%else%}
    <div></div>
    {%/if%}
</div>
{%include file='admin/share/_footer.html'%}