<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="/resources/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css">
    <script type="text/javascript" src="/resources/js/area.js"></script>
    <script type="text/javascript" src="/resources/js/location.js"></script>
    <script type="text/javascript " src="/resources/js/jquery.min.js"></script>
    <style type="text/css">
        input.error { 
            border: 1px solid red; 
        }
        label.error {
            padding-left: 8px;
            padding-bottom: 2px;
            font-weight: bold;
            color: red;
        }
    </style>
</head>
<body>  