{%include file='client/share/_header.html'%}
{%form_open('/client/user/again_activation','class="form-signin" id="login"')%}
    <input name="email" type="text" class="form-control" id="email" placeholder="Email">
    <input type="submit" value="重新发送激活邮件" class="btn btn-lg btn-primary btn-block"/>
{%form_close()%}
<div id="message" >
{%if isset($message)%}
    {%if $message eq "email_send_fail"%}
    发送失败，请重发
    {%elseif $message eq "email_send_success"%}
        激活链接已发送
    {%elseif $message eq "email_not_exist"%}
        邮箱不正确或邮箱已激活
    {%elseif $message eq "activation_timeout"%}
        您的激活有效期已过,请输入注册邮箱重新激活
    {%/if%}
{%/if%}
</div>
{%include file='client/share/_footer.html'%}