{%include file='client/share/_header.html'%}
{%form_open('/client/user/find_password','class="form-signin" id="login"')%}
    <input name="email" type="text" class="form-control" id="email" placeholder="Email">
    <input type="submit" value="提交" class="btn btn-lg btn-primary btn-block"/>
{%if isset($message) &&$message eq "error_send_fail"%}
<div id="message" >发送失败，请重发</div>
{%elseif isset($message) &&$message eq "error_send_success"%}
<div id="message" >链接已发送</div>
{%elseif isset($message) &&$message eq "error_not_register"%}
<div id="message" >邮箱不存在</div>
{%elseif isset($message) &&$message eq "password_time_out"%}
<div id="message" >您的链接有效期已过,请输入注册邮箱重新发送邮件</div>
{%else $message==""%}
<div id="message"></div>
{%/if%}
{%form_close()%}
{%include file='client/share/_footer.html'%}