{%include file='client/share/_header.html'%}
    <script type="text/javascript " src="/resources/js/login_check.js"></script>
{%form_open('/client/user/login','class="form-signin" id="login"')%}
    <h2 class="form-sigin-heading">欢迎登陆</h2>
    <input name="email" type="text" class="form-control" id="email" placeholder="Email">
    <input name="password" type="password" class="form-control" id="password" placeholder="Password">
    <button id="submit" type="submit" class="btn btn-lg btn-primary btn-block">登 陆</button>
    <a href="{%site_url('client/user/register')%}">注   册</a>
    <span >|</span>
    <a  href="{%site_url('client/user/send_activation')%}">重新发送注册激活邮件</a>
    <span >|</span>
    <a  href="{%site_url('client/user/forget_password')%}">找回密码</a>
{%form_close()%}
<div id="message" >{%$message%}
<!-- {%if isset($message)%}
    {%if $message eq "user_not_activation"%}
        用户不能登陆，请先激活邮箱
    {%elseif $message eq "error_user_or_password"%}
        密码错误或用户名不正确
    {%elseif $message eq "please_sign_in"%}
        请先登陆
    {%elseif $message eq "update_password_success"%}
        修改密码成功
    {%/if%}
{%/if%} -->
</div>
{%include file='client/share/_footer.html'%}