{%include file='client/share/_header.html'%}
    <!-- <script type="text/javascript " src="/resources/js/register_check.js"></script> -->
    <script type="text/javascript " src="/resources/js/provice.js"></script>
{%form_open_multipart('client/user/register_submit','id="register"')%}
    <div class="form-group">   
        <label >Name</label>
        <input class="form-control" type="text"  name="username" value="{%set_value('username')%}"/>
        {%form_error('username','<label class="error">','</lable>')%}
    </div>
    <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" name="password" id="password" value="{%set_value('password')%}"/>
        {%form_error('password','<label class="error">','</lable>')%}
    </div> 
    <div class="form-group">
        <label>Passconf</label>
        <input class="form-control" type="password" name="passconf" value="{%set_value('passconf')%}"/>
        {%form_error('passconf','<label class="error">','</lable>')%}
    </div>
    <div class="form-group">
        <label >Email</label>
        <input class="form-control" type="text" name="email" value="{%set_value('email')%}">
        {%form_error('email','<label class="error">','</lable>')%}
    </div>
    <div class="form-group">
        <label >Phone</label>
        <input class="form-control" type="text" name="phone" value="{%set_value('phone')%}">
        {%form_error('phone','<label class="error">','</lable>')%}
    </div>
    <div class="form-group">
        <label >Sex</label>
        <input type="radio" name="sex" value="0"{%set_radio('sex','0')%}/>女
        <input type="radio" name="sex" value="1"{%set_radio('sex','1')%}/>男
        {%form_error('sex','<label class="error">','</lable>')%}
    </div>    
    <div class="form-group">
        <label >Address</label>
        <select class="form-control" id="loc_province" name="provice">
            <option value="0">请选择</option>
        </select>
        <select class="form-control" id="loc_city" name="city"></select>
        {%form_error('city','<label class="error">','</lable>')%}
    </div>
<!--     <div class="form-group"  >
        <label>Head Portrait</label>
        <input type="file" name="userfile" size="20"/>
    </div>   -->  
    <input type="submit" value="submit" class="btn  btn-primary"/>
{%form_close()%}
{%if isset($message) &&$message eq "email_exist"%}
    <div id="message" >邮箱已经使用</div>
{%elseif isset($message) &&$message eq "error_send_fail"%}
    <div id="message">邮件发送失败</div>
{%elseif isset($message) &&$message eq "error_mysql"%}
    <div id="message">数据库添加失败</div>
{%else $message==""%}   
    <div id="message"></div>
{%/if%}
{%include file='client/share/_footer.html'%}