{%include file='client/share/_header.html'%}
{%form_open_multipart('client/user/registercheck')%}
        <div class="form-group">   
            <label >Name</label>
            <input class="form-control" type="text"  name="username" value="{%set_value('username'  )%}"/>
            {%form_error('username','<label class="error">','</lable>')%}
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" name="password" value="{%set_value('password')%}"/>
            {%form_error('password','<label class="error">','</lable>')%}
        </div> 
        <div class="form-group">
            <label>Passconf</label>
            <input class="form-control" type="password" name="passconf" value="{%set_value('passconf')%}"/>
            {%form_error('passconf','<label class="error">','</lable>')%}
        </div>
        <div class="form-group">
            <label >Email</label>
            <input class="form-control" type="text" name="email" value="{%set_value('email')%}">
            {%form_error('email','<label class="error">','</lable>')%}
        </div>
        <div class="form-group">
            <label >Phone</label>
            <input class="form-control" type="text" name="phone" value="{%set_value('phone')%}">
            {%form_error('phone','<label class="error">','</lable>')%}
        </div>
        <div class="form-group">
            <label >Sex</label>
            <input type="radio" name="sex" value="女"{%set_radio('sex','0')%}/>W
            <input type="radio" name="sex" value="男"{%set_radio('sex','1')%}/>M
            {%form_error('sex','<label class="error">','</lable>')%}
        </div>    
        <div class="form-group">
            <label >Address</label>
            <select class="form-control" id="loc_province" name="provice">
                <option>请选择</option>
            </select>
            <select class="form-control" id="loc_city" name="city"></select>
            {%form_error('city','<label class="error">','</lable>')%}
        </div>
        <div class="form-group" >
            <input type="file" name="userfile" size="20" />
            <input type="submit" value="submit" class="btn btn-lg btn-primary">
        </div>    
    {%form_close()%}
    <script type="text/javascript">
        var provice = {
          "1": {
            "provice_id": "北京市",
            "name": "北京市"
          },
          "2": {
            "provice_id": "天津市",
            "name": "天津市"
          }
        }
        var city = {
          "1": {
            "provice_id": "北京市",
            "city_id": 100,
            "name": "东城区"
          },
          "2": {
            "provice_id": "北京市",
            "city_id": 101,
            "name": "崇文区"
          },
          "3": {
            "provice_id": "北京市",
            "city_id": 102,
            "name": "长宁区"
          },
          "4": {
            "provice_id": "天津市",
            "city_id": 102,
            "name": "丰台区"
          },
          "5": {
            "provice_id": "天津市",
            "city_id": 103,
            "name": "房山区"
          }
        }
        $(document).ready(function(){
            $.each(provice,function(n){
                    $("#loc_province").append("<option value="+provice[n]['provice_id'] +">" + provice[n]['name'] +"</option>")
                })
                $("#loc_province").change(function(){
                    $("#loc_city").html("");
                    $.each(city,function(n){
                        value = $("#loc_province").val();
                        if(value == city[n]['provice_id']){
                            $("#loc_city").append("<option >" + city[n]['name'] +"</option>")
                        }
                    })
                })
        })
    </script>
{%include file='client/share/_footer.html'%}