{%include file='client/share/_header.html'%}
{%form_open('/client/user/send_forget_password','class="form-signin" id="login"')%}
    <input name="email" type="text" class="form-control" id="email" placeholder="Email">
    <input type="submit" value="提交" class="btn btn-lg btn-primary btn-block"/>
{%form_close()%}
{%if isset($message)%}
    {%if $message eq "email_send_fail"%}
    <div id="message" >发送失败，请重发</div>
    {%elseif $message eq "email_send_success"%}
    <div id="message" >链接已发送</div>
    {%elseif $message eq "email_not_exist"%}
    <div id="message" >邮箱不存在</div>
    {%elseif $message eq "link_not_exist"%}
    <div id="message" >链接不存在</div>
    {%elseif $message eq "reset_password_fail"%}
    <div id="message" >重置密码失败</div>
    {%elseif $message eq "link_timeout"%}
    <div id="message" >您的链接有效期已过,请输入邮箱重新发送邮件</div>
    {%/if%}
{%/if%}
{%include file='client/share/_footer.html'%}