{%include file='client/share/_header.html'%}
{%form_open('/client/user/update_password','class="form-signin"')%}
    <h2 class="form-sigin-heading">修改密码</h2>
    <input name="email" type="text" class="form-control" id="email" placeholder="Email">
    <input name="password" type="password" class="form-control" id="password" placeholder="NewPassword">
    <button id="submit" type="submit" class="btn btn-lg btn-primary btn-block">提交</button>
{%form_close()%}
{%if isset($message)%}
    {%if $message eq "email_not_exist"%}
    <div id="message" >邮箱不存在</div>
    {%elseif $message eq "reset_password_success"%}
    <div id="message" >重置密码成功</div>
    {%elseif $message eq "password_not_reset"%}
    <div id="message" >账户密码未重置</div>
    {%/if%}
{%/if%}
{%include file='client/share/_footer.html'%}