{%include file='client/share/_header.html'%}
{%form_open('/client/user/update_password','class="form-signin"')%}
    <h2 class="form-sigin-heading">修改密码</h2>
    <input name="email" type="text" class="form-control" id="email" placeholder="Email">
    <input name="password" type="password" class="form-control" id="password" placeholder="NewPassword">
    <button id="submit" type="submit" class="btn btn-lg btn-primary btn-block">提交</button>
{%if isset($message) &&$message eq "email_not_exist"%}
<div id="message" >邮箱不存在</div>
{%elseif isset($message) &&$message eq "reset_password_success"%}
<div id="message" >重置密码成功</div>
{%elseif isset($message) &&$message eq "password_not_reset"%}
<div id="message" >账户密码未重置</div>
{%else $message==""%}
<div id="message"></div>
{%/if%}
{%form_close()%}